*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}

body{
  /* background: #1c1c1c; */
  z-index: 0;
  /* background-image: url('./content/images/country-cafe.jpeg'); */
  /* background-image: url('./content/images/wallpaperflare.com_wallpaper.jpg'); */
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

:root{
  --main: rgba(255, 255, 255, 0.9);
  /* --main: rgba(20, 20, 20, .9); */
  --secondary: rgba(20, 20, 20, .98);
  --sage: rgba(186, 184, 108, .4);
  --shadow: 0 0 14px 8px rgba(0, 0, 0, 1);
}

.container{
  width: 100%;
  max-height: 100%;
}

.app {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  margin: 0 auto;
  color: black;
  /* color: #ffffff; */
}
@media (max-width: 600px){
  .app{
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    justify-content: center;
  }
}

h1, h2 {
  color: rgba(112, 130, 56, .8);
  /* color: rgb(178, 172, 136); */
}

/*-----------------------------------------HEADER-------------------------------------------*/

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: fit-content;
}

ul{
  list-style: none;
}


.site-header{
  /* z-index: 0;
  background-image: url('./content/images/wallpaperflare.com_wallpaper.jpg');
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.mobile-menu-button{
  display: none;
}

.header-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 20em;
  margin: 0 auto;
  padding-block: 40px;
  line-height: 2;
  background-color: rgba(252, 246, 215, 0.3);
}

.header-logo{
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.site-logo{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* max-width: 400px; */
  max-height: 180px;
}

.header-title{
  font-size: 40px;
  font-weight: 500;
}

.header-subtitle{
  justify-content: center;
  font-size: 28px;
  font-weight: 200;
  font-style: italic;
}


.header-contact{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* max-width: 25%; */
  line-height: 1.5;
  font-size: 20px;
  font-weight: 200;
  /* padding-inline: 16em; */
  /* padding: 100px */
}
  .lefter{
    width: 50%;
    /* margin-right: 20em; */
    justify-content: center;
    align-items: center;
    margin: 0 auto
 }
 .right{
  width: 50%;
  /* padding-left: 16em; */
  margin: 0 auto;
 }

.header-navigation{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  max-width: 100%;
  background-color: var(--sage);
}

.navbar-options{
  display: flex;
  flex-direction: row;
  margin: 04px 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.navbar-options .link{
  text-decoration: none;
  font-size: 16px;
  font-weight: 100;
  padding-inline: 20px;
}
.navbar-options .link:hover{
  color: rgb(255, 217, 0);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
  transition: color 0.2s ease-in-out, text-shadow 0.1s ease-in-out;
}

.social-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  transform: scale(85%);
  justify-content: space-between;
}


@media (max-width: 600px){

  .site-header{
    margin-block: 0;
  }

  .mobile-menu-button{
    position: absolute;
    display:inline-block;
    margin-inline: auto 0;
    text-align: end;
    font-size: 38px;
    padding: 4px;
    right: 0;
  }

  .mobile-menu {
    display: block;
    background-color: var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: ease-in-out 1.5s;
  }

  .mobile-menu .navbar-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .mobile-menu .link {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    line-height: 3;
    font-size: 24px;
    margin-inline: 0;
    padding-inline: 10px;
  }


  .header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
  }

  .header-logo{
    position: relative;
  }

  .site-logo{
    position: relative;
    max-width: 300px;
  }
  
  .header-contact{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .header-navigation{
    display: none;
  }

}


/*-----------------------------------FOOTER--------------------------------------------------*/

.footer-container{
  width: 100%;
  z-index: 0;
  background-color: var(--sage);
}

.site-footer{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 75%;
  padding: 20px auto;
  padding-bottom: 10px;
  padding-top: 40px;
  margin: 20px auto;
}
.site-footer h1{
  font-size: 28px;
  font-weight: 100;
  margin-left: 10%;
}
.footer-top{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.footer-navigation{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0 auto;
}

.site-footer .link{
  margin: 0 20px;
  text-decoration: none;
  font-size: 16px;
}
.site-footer .link:hover{
  color: rgb(0, 69, 133);
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

.footer-column{
  margin-top: 10px;
}

.site-footer .social-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  transform: scale(.75);
}

.col4 p{
  font-size: 22px;
}

.col4 input{
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none; /*Remove input focus outline*/
  margin-top: 4px;
}


.copyright{
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin: 0 auto;
}

@media (max-width: 600px){
  .footer-navigation .navbar-options{
    display: flex;
    flex-direction: column;
  }

  .site-footer{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    padding: 20px auto;
    z-index: 0;
    padding-bottom: 10px;
    padding-top: 40px;
    margin: 20px auto;
  }
  .site-footer h1{
    font-size: 22px;
    font-weight: 100;
    margin: 0 auto;
    text-align: center;
  }

  .footer-top{
    flex-direction: column;
    align-items: center;
  }
  
  .footer-column{
    margin-top: 10px;
    padding: 10px;
  }

  .site-footer .social-buttons{
    display: flex;
    flex-direction: row;
    transform: scale(.75);
  }

}



/*-----------------------------------GENERAL PAGE SETTING--------------------------------------------------*/
.page-container{
  display: flex;
  flex-direction: row;
  min-height: 900px;
  z-index: 0;
}
@media (max-width: 600px){
  .page-container{
    flex-direction: column;
  }
}


.page-title{
  display: flex;
  flex-direction: column;
  font-size: 60px;
  line-height: 2;
  margin: 10px auto;
}

.subtitle{
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  margin: 10px auto;
}

.page-heading{
  width: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
}

.title{
  justify-content: center;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
  margin: 20px;
}

.title span {
  font-weight: 100;
}

/*-----------------------------------HOME PAGE-------------------------------------------------*/


.home-img{
  background-image: url('./content/images/rooster_background.png');
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.home-container{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 100;
}

.home-main{
  width: 50%;
  height: 800px;
  padding: 40px 40px;
  text-align: center;
  background-color: var(--main);
}

.home-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.home-title{
  font-size: 80px;
  font-weight: 500;
  line-height: 2;
  margin: 10px auto;
}

.home-subtitle{
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  margin: 10px auto;
}

.home-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  line-height: 2;
  margin: 0 auto;
}

.home-bio{
  width: 100%;
  margin-block: 20px;
  padding-block: 20px;
  background-color: var(--main);
  align-items: center;
}
  .home-bio p{
    width: 75%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

@media (max-width: 600px){
  
  .home-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
    margin: 0;
    margin-top: 300px;
    padding: 8px;
  }
  .home-img{
    background-size: 200%;
    background-position:top;
    background-repeat: no-repeat;
    background-attachment:local;
  }

  .home-header{
    text-align: start;
    align-items: start;
    line-height: 2;
    margin: 0;
  }

  .home-title{
    font-size: 54px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
  }

  .home-subtitle{
    font-size: 28px;
    font-weight: 400;
    font-style: italic;
    margin: 0;
  }

  .home-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 100%;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.25;
    margin: 0 auto;
  }
}


/*-------------------------------------MENU PAGE------------------------*/

.menu-page{
  background-color: var(--main);
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: var(--shadow);
}

.menu-top{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.menu-nav{
  margin: 0 auto;
  width: 25%;
}
  .menu-nav a{
    align-items: center;
    width: 33%;
    margin-inline: 10px;
  }


.category{
  display: flex;
  flex-direction: column;
}

.category-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  text-align: center;
  font-size: 50px;
}
  .category-title h2{
    margin-inline: 20px;
  }
  .category-title hr{
    border:2px solid #545454;
    width:70%;
  }

.subcategory{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 10px auto;
  /* border: 2px dotted; */
}

.subcategory-image{
  justify-content: center;
  margin: 0 auto;
  transform: scale(75%);
}

.subcategory-title{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  width: 50%;
  margin: 10px auto;
}

  .subcategory-title p{
    text-align:center;
    justify-content: center;
    font-size: 18px;
    font-style: italic;
    line-height: 1.25;
    padding: 10px;
  }

.items-container{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
  align-items: baseline;
  /* border: 2px solid; */
  height: fit-content;
}

.menu-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  min-width: 30%;
  max-width: 30%;
  padding: 10px;
}


.menu-item h3{
  font-size: 18px;
}


.item-info{
  width: 75%;
  font-size: 14px;
  font-weight: 100;
  padding: 8px 4px;
}

.item-price{
  width: 75%;
  font-weight: 100;
  padding-left: 8px;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
}

.drink-container{
  display:table-column;
  column-count: 2;
  column-gap: 0;
  border: 2px solid;
  height: fit-content;
  width: 100%;
  margin: 0 auto;

  
}

.drink{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid;
  min-width: 50%;
  max-width: 50%;
}

.drink-row{
}

/*-----------------------------------CONTACT PAGE-------------------------------------------------*/


.contact-container{
  background-image: url('./content/images/restaurant/cafe-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contact-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 900px;
  width: 100%;
  margin: 0 auto;
}

.contact-left{
  width: 50%;
}

  .contact-left iframe{
    width: 100%;
    height: 600px;
  }


.contact-right{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  line-height: 3.5;
  background-color: var(--main);
  /* background-position: 50% 100%; */
  width: 50%;
  height: 600px;
}
  .contact-right h1{
    font-size: 40px;
    font-weight: bold;
  }

 .contact-container .social-buttons{
  width: 25%;
  justify-content: center;
  margin: 0 auto;
 }
@media (max-width: 600px){
  .contact-container{
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding-block: 2em;
  }
}


/*-------------------------------------MENU PAGE------------------------*/


.reviews-page{
  display: flex;
  flex-direction: column;
  background-color: var(--main);
}

.reviews-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.review-card{
  width: 30%;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 5px;
  box-shadow: var(--shadow);
  margin: 8px;
}

  .review-card:hover{
    transform: scale(101%);
    transition: ease-in-out .3s;
    box-shadow:0 0 14px 8px  rgba(255, 255, 255, .2);
  }

/*-----------------------------------SOCIAL MEDIA--------------------------------------------------*/

/* Style all font awesome icons */
.social-icons {
  /* margin-bottom: 20px; */
  /* padding: 20px; */
  font-size: 28px;
  width: 26px;
  text-align: center;
  margin: 0 8px;
}

/* Add a hover effect if you want */
.social-icons:hover {
  opacity: .9;
  color:black;
}

.twitter {
  background: #55ACEE;
  color: black;
} 

.facebook {
  background: #316FF6;
  color: black;
  transform: scale(75%);
} 

.instagram{
  background: #fb3958;
  color:black;
}

.youtube{
  background: #FF0000;
  color:black;
}

  /* For social icons in social-buttons */
.social-buttons .social-icons{
  background: transparent;
  height: 75%;
  position: relative;
} 
.social-buttons .twitter:hover{
  color: #657786;
}
.social-buttons .facebook:hover{
  color: #316FF6;
}
.social-buttons .instagram:hover{
  color:#fb3958;
}
.social-buttons .youtube:hover{
  color:#FF0000;
}
